$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-lightgrey: #7e7e7e;
$color-lightblack: #101010;

$color-text: #000000;
$color-text-white: #ffffff;
$color-text-lightgrey: #7e7e7e;
$color-text-darkgrey: #353535;
$color-text-green: #008766;
$color-background: #f6f6f6;
$color-background-light: #eaeaea;
$color-background-white: #ffffff;
$color-background-darkgrey: #353535;
$color-background-primary: #9356dc;

@mixin button-gradient {
   background: rgb(147, 86, 220);
   background: -moz-linear-gradient(0deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 97%);
   background: -webkit-linear-gradient(0deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 97%);
   background: linear-gradient(0deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 97%);
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9356dc",endColorstr="#ff79da",GradientType=1);
}
@mixin button-gradient-inverted {
   background: rgb(147, 86, 220);
   background: -moz-linear-gradient(180deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 97%);
   background: -webkit-linear-gradient(180deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 97%);
   background: linear-gradient(180deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 97%);
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9356dc",endColorstr="#ff79da",GradientType=1);
}
