$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-lightgrey: #7e7e7e;
$color-lightblack: #101010;

$color-text: #000000;
$color-text-white: #ffffff;
$color-text-lightgrey: #7e7e7e;
$color-text-darkgrey: #353535;
$color-text-green: #008766;
$color-background: #f6f6f6;
$color-background-light: #eaeaea;
$color-background-white: #ffffff;
$color-background-darkgrey: #353535;
$color-background-primary: #9356dc;

@mixin button-gradient {
   background: linear-gradient(0deg, #9356dc 0%, #ff79da 97%);
}
@mixin button-gradient-inverted {
   background: linear-gradient(180deg, #9356dc 0%, #ff79da 97%);
}

// @mixin loader-gradient {
//    background: linear-gradient(0deg, #99e2d0 0%, #ff79da 20%, #99e2d0 40%, #9356dc 60%, #99e2d0 80%, #ff79da 97%);
// }

@mixin loader-gradient {
   background-image: linear-gradient(
      to right top,
      #ff79da,
      #7d33d8,
      #9356dc,
      #a477db,
      #99e2d0,
      #52dab8,
      #44e0b9,
      #44e0b9,
      #52dab8,
      #99e2d0,
      #a477db,
      #9356dc,
      #7d33d8,
      #ff79da
   );
}
