body {
    margin: 0;
    padding: 0;
}

img {
    object-fit: cover;
    width: 100%
}

ul li {
    list-style-type: none;
}

/* Header */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.logo {
    display: flex;
    width: 150px;
}

/* Section Localisation */

.localisation {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-solid .fa-location-dot {
    color: black;
    background-color: var(--main-bg-color);
    padding: 15px;
    border-radius: 15px 0 0 15px;
}

/* Section Explorer */

.explorer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}