@keyframes slide {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

ul li {
  list-style-type: none;
}

body {
  font-family: "Roboto", sans-serif;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, figure, blockquote, dl, dd {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
a:visited {
  color: inherit;
}

li {
  list-style: none;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 10px 0;
  width: 100%;
}
.header__menu {
  display: flex;
  justify-content: space-between;
}
.header__menu__arrow {
  cursor: pointer;
  position: absolute;
  left: 20px;
  font-size: 1.125rem;
}

.logo {
  display: flex;
  width: 150px;
  padding-bottom: 15px;
}

/* Footer */
.footer {
  display: flex;
  width: 100%;
  height: 186px;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 0 20px;
  background-color: #353535;
  color: #ffffff;
}
.footer__logo {
  font-size: 1.125rem;
  font-family: "Shrikhand", serif;
  padding: 10px 0 20px 0;
}
.footer__logo__ul__li {
  padding-bottom: 5px;
}

.icon {
  padding-right: 12px;
}

.icon-partenaire {
  padding-right: 6px;
}

@media (min-width: 992px) {
  .footer {
    flex-direction: row-reverse;
    justify-content: space-between;
    justify-content: right;
    height: 114px;
  }
  .footer__logo {
    padding: 60px 40px 60px 60px;
  }
  .footer__logo__ul {
    display: flex;
    flex-direction: row;
  }
  .footer__logo__ul__li {
    padding: 60px 20px 20px 0;
  }
}
@media (min-width: 768px) {
  .footer {
    flex-direction: row-reverse;
    justify-content: space-between;
    justify-content: right;
    height: 114px;
  }
  .footer__logo {
    padding: 60px 40px 60px 0;
  }
  .footer__logo__ul {
    display: flex;
    flex-direction: row;
  }
  .footer__logo__ul__li {
    padding: 60px 20px 20px 0;
  }
}
/* Section Localisation */
.localisation {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
  height: 50px;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
  position: relative;
  font-weight: 500;
}
.localisation__logo {
  padding-right: 10px;
  color: #353535;
}

@media (min-width: 992px) {
  .localisation {
    box-shadow: none;
  }
}
@media (min-width: 1440px) {
  .localisation {
    box-shadow: none;
  }
}
/* Section Explorer */
.explorer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f6f6f6;
  padding-bottom: 50px;
}
.explorer__h1 {
  text-align: center;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  padding: 30px 10px 0 10px;
}
.explorer__h1__p {
  text-align: center;
  font-size: 1.125rem;
  font-family: "Roboto", sans-serif;
  padding: 10px 10px 25px 10px;
  color: #353535;
  font-weight: 300;
}
.explorer__h1__p__button {
  border: none;
  width: 218px;
  height: 50px;
  cursor: pointer;
  border-radius: 30px;
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 97%);
  color: #ffffff;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  transition: all 400ms ease-in-out;
}
.explorer__h1__p__button:hover {
  opacity: 0.85;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}

@media (min-width: 992px) {
  .explorer__h1 {
    padding-bottom: 10px;
    font-size: 2.5rem;
  }
}
/* Section Fonctionnement */
.fonctionnement {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  width: 100%;
}
.fonctionnement__h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  padding-left: 20px;
}
.fonctionnement__h2__liste__ul {
  padding-bottom: 50px;
}
.fonctionnement__h2__liste__ul__li {
  display: flex;
  width: 90%;
  height: 72px;
  font-weight: 500;
  background-color: #f6f6f6;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  font-size: 1rem;
  margin: 15px 10px 25px 20px;
  text-align: center;
  align-items: center;
  padding-left: 40px;
  gap: 25px;
  position: relative;
}
.fonctionnement__h2__liste__ul__li__number {
  color: #ffffff;
  background-color: #9356dc;
  border-radius: 50%;
  font-size: 0.938rem;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -12.5px;
}

.greylogo {
  color: #7e7e7e;
}

.purplelogo {
  color: #9356dc;
}

@media (min-width: 768px) {
  .fonctionnement {
    padding: 30px 30px 30px 30px;
  }
  .fonctionnement__h2 {
    padding-bottom: 10px;
  }
  .fonctionnement__h2__liste__ul {
    display: flex;
    width: 100%;
  }
  .fonctionnement__h2__liste__ul__li {
    text-align: start;
    padding-left: 30px;
  }
}
@media (min-width: 992px) {
  .fonctionnement {
    display: flex;
    padding: 30px 30px 30px 30px;
  }
}
@media (min-width: 1440px) {
  .fonctionnement {
    padding: 50px 160px 0 160px;
  }
}
/* Section Restaurants */
.restaurants {
  background-color: #f6f6f6;
  width: 100%;
  padding: 50px 30px 50px 30px;
}
.restaurants__h2 {
  font-family: "Roboto", sans-serif;
  padding-bottom: 15px;
}
.restaurants__h2__box__a__card {
  border-radius: 20px;
  background-color: #ffffff;
  margin-bottom: 20px;
  position: relative;
}
.restaurants__h2__box__a__card__img {
  border-radius: 20px 20px 0 0;
  height: 200px;
}
.restaurants__h2__box__a__card__img__h3 {
  font-family: "Roboto", sans-serif;
  padding-left: 15px;
  font-size: 1.125rem;
  padding: 10px 0 0 10px;
}
.restaurants__h2__box__a__card__img__h3__p {
  font-family: "Roboto", sans-serif;
  padding-left: 15px;
  font-size: 1.063rem;
  padding: 0 0 10px 10px;
  font-weight: 300;
}

.new {
  position: absolute;
  background-color: #99e2d0;
  color: #008766;
  padding: 5px 10px 5px 10px;
  border-radius: 2px;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  text-align: center;
  top: 0;
  right: 0;
  margin: 15px 15px 0 0;
}

.logo-heart {
  position: relative;
  padding-right: 30px;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-heart__premier {
  position: absolute;
  color: #101010;
}
.logo-heart__second {
  position: absolute;
  opacity: 0;
  background: linear-gradient(180deg, #9356dc 0%, #ff79da 97%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 400ms ease-in-out;
}
.logo-heart__second:hover {
  opacity: 1;
  transform: scale(1.1);
}

.info-restaurants {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  .restaurants {
    width: 100%;
    padding: 30px 30px 30px 30px;
  }
  .restaurants__h2__box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
  }
  .restaurants__h2__box__a {
    display: block;
    width: calc(50% - 50px);
  }
  .restaurants__h2__box__a__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 251px;
    padding-bottom: 10px;
  }
}
@media (min-width: 992px) {
  .restaurants__h2 {
    padding-left: 30px;
  }
  .restaurants__h2__box {
    padding: 30px 30px 30px 30px;
  }
}
@media (min-width: 1440px) {
  .restaurants__h2 {
    padding: 0 0 20px 150px;
  }
  .restaurants__h2__box {
    padding: 0 150px 0 150px;
  }
  .restaurants__h2__box__a__card {
    margin-bottom: 0;
  }
}
.background-menu {
  background-color: #f6f6f6;
  border-radius: 30px 30px 0 0;
  z-index: 1;
  position: relative;
  margin: -40px auto 0 auto;
  padding: 0 10px 0 10px;
}

.img {
  width: 100%;
  height: 275px;
}

.titre-menu {
  display: flex;
  justify-content: space-between;
}
.titre-menu__h1 {
  font-size: 1.75rem;
  font-weight: 400;
  font-family: "Shrikhand", serif;
  padding: 20px 0 20px 10px;
}
.titre-menu__h1__heart {
  padding-right: 30px;
  font-size: 1.5rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.titre-menu__h1__heart__premier {
  position: absolute;
  color: #101010;
}
.titre-menu__h1__heart__second {
  position: absolute;
  opacity: 0;
  background: linear-gradient(180deg, #9356dc 0%, #ff79da 97%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 400ms ease-in-out;
}
.titre-menu__h1__heart__second:hover {
  opacity: 1;
  transform: scale(1.1);
}

@media (min-width: 320px) {
  .titre-menu__h1__heart {
    padding-left: 20px;
  }
}
@media (min-width: 768px) {
  .background-menu {
    width: 555px;
    padding: 0 80px 0 80px;
  }
}
@media (min-width: 992px) {
  .background-menu {
    width: 755px;
    padding: 0 130px 0 130px;
  }
}
@media (min-width: 1440px) {
  .background-menu {
    width: 1055px;
    padding: 0 170px 0 170px;
  }
  .titre-menu {
    justify-content: center;
    gap: 30px;
  }
}
.menu {
  overflow: hidden;
}
.menu__h2 {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  padding: 10px 0 0 0;
  margin-top: 20px;
}
.menu__h2__trait {
  width: 40px;
  height: 3px;
  margin: 5px 0 0 0;
  background-color: #99e2d0;
}
.menu__h2__trait__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu__h2__trait__cards__plat {
  background-color: #ffffff;
  border-radius: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin: 20px 0 0 0;
  padding: 10px 0 10px 15px;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  opacity: 0;
  animation: slide 2000ms ease forwards;
}
.menu__h2__trait__cards__plat:nth-child(1) {
  animation: slide 2000ms ease forwards;
  animation-delay: 200ms;
}
.menu__h2__trait__cards__plat:nth-child(2) {
  animation: slide 2000ms ease forwards;
  animation-delay: 400ms;
}
.menu__h2__trait__cards__plat:nth-child(3) {
  animation: slide 2000ms ease forwards;
  animation-delay: 600ms;
}
.menu__h2__trait__cards__plat:nth-child(4) {
  animation: slide 2000ms ease forwards;
  animation-delay: 800ms;
}
.menu__h2__trait__cards__plat:nth-child(5) {
  animation: slide 2000ms ease forwards;
  animation-delay: 1000ms;
}
.menu__h2__trait__cards__plat:nth-child(6) {
  animation: slide 2000ms ease forwards;
  animation-delay: 1200ms;
}
.menu__h2__trait__cards__plat:nth-child(7) {
  animation: slide 2000ms ease forwards;
  animation-delay: 1400ms;
}
.menu__h2__trait__cards__plat:nth-child(8) {
  animation: slide 2000ms ease forwards;
  animation-delay: 1600ms;
}
.menu__h2__trait__cards__plat:nth-child(9) {
  animation: slide 2000ms ease forwards;
  animation-delay: 1800ms;
}
.menu__h2__trait__cards__plat:nth-child(10) {
  animation: slide 2000ms ease forwards;
  animation-delay: 2000ms;
}
.menu__h2__trait__cards__plat__choix {
  flex-grow: 1;
  width: 10%;
  overflow: hidden;
  white-space: nowrap;
}
.menu__h2__trait__cards__plat__choix__suspension {
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__h2__trait__cards__plat__prix {
  display: flex;
  padding-right: 15px;
  font-weight: 700;
  align-items: end;
  justify-content: end;
  width: 60px;
  height: 100%;
}
.menu__h2__trait__cards__plat .checkbox {
  background-color: #99e2d0;
  color: #ffffff;
  font-size: 1.125rem;
  border-radius: 0 15px 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 400ms ease-in-out;
  width: 0%;
  height: 70px;
  overflow: hidden;
}
.menu__h2__trait__cards__plat:hover .checkbox {
  width: 20%;
}

.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  padding-bottom: 40px;
}
.menu-button__button:hover {
  opacity: 0.85;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}

.intro {
  background-image: linear-gradient(to right top, #ff79da, #7d33d8, #9356dc, #a477db, #99e2d0, #52dab8, #44e0b9, #44e0b9, #52dab8, #99e2d0, #a477db, #9356dc, #7d33d8, #ff79da);
  width: 100%;
  height: 100%;
  animation: intro 3000ms linear forwards;
  z-index: 2;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes intro {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.loader {
  color: #ffffff;
  font-family: "Shrikhand", serif;
  font-size: 1.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: loader-opacity 400ms linear forwards;
  animation-delay: 4000ms;
}
.loader__1 {
  animation: loader 1000ms linear infinite;
  animation-delay: 200ms;
}
.loader__2 {
  animation: loader 1000ms linear infinite;
  animation-delay: 400ms;
}
.loader__3 {
  animation: loader 1000ms linear infinite;
  animation-delay: 600ms;
}

@keyframes loader {
  0% {
    opacity: 1;
    transform: scaleY(1);
  }
  50% {
    opacity: 1;
    transform: scaleY(1.3);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
@keyframes loader-opacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}/*# sourceMappingURL=style.css.map */