@use '../abstracts/' as *;
@use '../base/' as *;

.intro {
   @include loader-gradient;
   width: 100%;
   height: 100%;
   animation: intro 5000ms linear forwards;
   z-index: 2;
   position: fixed;
   padding: 0;
   margin: 0;
   top: 0;
   left: 0;
   display: flex;
   align-items: center;
   justify-content: center;
}

@keyframes intro {
   0% {
      opacity: 1;
   }

   80% {
      opacity: 1;
   }

   90% {
      opacity: 0;
      visibility: hidden;
   }

   100% {
      opacity: 0;
      visibility: hidden;
   }
}

.loader {
   color: $color-text-white;
   font-family: $font-primary;
   font-size: $font-size-xxl;
   display: flex;
   align-items: center;
   justify-content: center;
   animation: loader-opacity 400ms linear forwards;
   animation-delay: 4000ms;

   &__1 {
      animation: loader 1000ms linear infinite;
      animation-delay: 200ms;
   }

   &__2 {
      animation: loader 1000ms linear infinite;
      animation-delay: 400ms;
   }

   &__3 {
      animation: loader 1000ms linear infinite;
      animation-delay: 600ms;
   }
}

@keyframes loader {
   0% {
      opacity: 1;
      transform: scaleY(1);
   }

   50% {
      opacity: 1;
      transform: scaleY(1.3);
   }

   100% {
      transform: scaleY(1);
      opacity: 1;
   }
}

@keyframes loader-opacity {
   0% {
      opacity: 1;
   }

   100% {
      opacity: 0;
   }
}
