@use "../abstracts/" as *;
@use "../base/" as *;

/* Section Localisation */

.localisation {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-background-light;
    height: 50px;
    box-shadow: $box-shadow-m;
    z-index: 1;
    position: relative;

        &__logo{
            padding-right: 10px;
        }
}

/* Section Explorer */

.explorer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $color-background;
    padding-bottom: 30px;

    &__h1 {
        text-align: center;
        font-size: $font-size-l;
        font-family: $font-secondary;
        padding: 30px 10px 10px 10px;
    }

        &__p {
            text-align: center;
            font-size: $font-size-m;
            font-family: $font-secondary;
            padding: 10px 10px 25px 10px;
            color: $color-text-darkgrey;
        }

            &__button {
                border: none;
                width: 218px;
                height: 50px;
                cursor: pointer;
                border-radius: $border-radius-xxl;
                @include button-gradient;
                color: $color-text-white;
                font-size: $font-size-s;
                font-family: $font-secondary;
            }
}


/* Section Fonctionnement */

.fonctionnement {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    width: 100%;

    &__h2 {
        font-family: $font-secondary;
        padding-left: 20px;
    }

        &__liste {
            // align-items: center;
        }

            &__li {
                width: 80%;
                height: 80px;
                background-color: $color-background;
                box-shadow: $box-shadow-s;
                border-radius: $border-radius-l;
                margin: 15px 10px 15px 40px;
                text-align: center;
                // align-items: center;
                // justify-content: center;
            }
}

.restaurants {
    background-color: $color-background;
    width: 100%;

        &__section {
            margin: 0 20px 0 20px;
            padding: 40px 0 20px 0;
        }

            &__h2 {
                font-family: $font-secondary;
                padding-bottom: 15px;
            }

                &__a {
                    // max-width: 200px;
                    // max-height: 50px;
                }

                    &__card {
                        border-radius: $border-radius-xl;
                        background-color: $color-background-white;
                        margin-bottom: 20px;
                    }

                        &__img {
                            border-radius: $border-radius-l-top;
                            height: 200px;
                        }

                            &__h3 {
                                font-family: $font-secondary;
                                padding-left: 15px;
                                font-size: $font-size-m;
                                padding: 10px 0 5px 10px;
                            }

                                &__p {
                                    font-family: $font-secondary;
                                    padding-left: 15px;
                                    font-size: $font-size-sm;
                                    padding: 0 0 5px 10px;
                                }
}

.fa-heart {
    // align-items: end;
}

.info-restaurants {
    display: flex;
    justify-content: space-between;
    align-items: center;
}