@use '../abstracts/' as *;
@use '../base/' as *;

/* Section Localisation */

.localisation {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: $color-background-light;
   height: 50px;
   box-shadow: $box-shadow-top-bottom-m;
   z-index: 1;
   position: relative;
   font-weight: $font-weight-l;

   &__logo {
      padding-right: 10px;
      color: $color-text-darkgrey;
   }
}

@media (min-width: 992px) {
   .localisation {
      box-shadow: none;
   }
}

@media (min-width: 1440px) {
   .localisation {
      box-shadow: none;
   }
}

/* Section Explorer */

.explorer {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   background-color: $color-background;
   padding-bottom: 50px;

   &__h1 {
      text-align: center;
      font-size: $font-size-l;
      font-family: $font-secondary;
      padding: 30px 10px 0 10px;

      &__p {
         text-align: center;
         font-size: $font-size-m;
         font-family: $font-secondary;
         padding: 10px 10px 25px 10px;
         color: $color-text-darkgrey;
         font-weight: $font-weight-m;

         &__button {
            border: none;
            width: 218px;
            height: 50px;
            cursor: pointer;
            border-radius: $border-radius-xxl;
            @include button-gradient;
            color: $color-text-white;
            font-size: $font-size-s;
            font-family: $font-secondary;
            box-shadow: $box-shadow-l;

            &:hover {
               opacity: 0.85;
               box-shadow: $box-shadow-xxl;
            }
         }
      }
   }
}

@media (min-width: 992px) {
   .explorer__h1 {
      padding-bottom: 10px;
      font-size: $font-size-xxxl;
   }
}

/* Section Fonctionnement */

.fonctionnement {
   display: flex;
   flex-direction: column;
   padding-top: 40px;
   width: 100%;

   &__h2 {
      font-family: $font-secondary;
      font-weight: $font-weight-xl;
      padding-left: 20px;

      &__liste {
         &__ul {
            padding-bottom: 50px;

            &__li {
               display: flex;
               width: 90%;
               height: 72px;
               font-weight: $font-weight-l;
               background-color: $color-background;
               box-shadow: $box-shadow-xl;
               border-radius: $border-radius-xl;
               font-size: $font-size-s;
               margin: 15px 10px 25px 20px;
               text-align: center;
               align-items: center;
               padding-left: 40px;
               gap: 25px;
               position: relative;

               &__number {
                  color: $color-text-white;
                  background-color: $color-background-primary;
                  border-radius: 50%;
                  font-size: $font-size-xs;
                  width: 25px;
                  height: 25px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  position: absolute;
                  left: -12.5px;
               }
            }
         }
      }
   }
}

.greylogo {
   color: $color-lightgrey;
}

.purplelogo {
   color: $color-primary;
}

@media (min-width: 768px) {
   .fonctionnement {
      padding: 30px 30px 30px 30px;

      &__h2 {
         padding-bottom: 10px;

         &__liste {
            &__ul {
               display: flex;
               width: 100%;

               &__li {
                  text-align: start;
                  padding-left: 30px;
               }
            }
         }
      }
   }
}

@media (min-width: 992px) {
   .fonctionnement {
      display: flex;
      padding: 30px 30px 30px 30px;
   }
}

@media (min-width: 1440px) {
   .fonctionnement {
      padding: 50px 160px 0 160px;
   }
}

/* Section Restaurants */

.restaurants {
   background-color: $color-background;
   width: 100%;
   padding: 50px 30px 50px 30px;

   &__h2 {
      font-family: $font-secondary;
      padding-bottom: 15px;

      &__box {
         &__a {
            &__card {
               border-radius: $border-radius-xl;
               background-color: $color-background-white;
               margin-bottom: 20px;
               position: relative;

               &__img {
                  border-radius: $border-radius-l-top;
                  height: 200px;

                  &__h3 {
                     font-family: $font-secondary;
                     padding-left: 15px;
                     font-size: $font-size-m;
                     padding: 10px 0 0 10px;

                     &__p {
                        font-family: $font-secondary;
                        padding-left: 15px;
                        font-size: $font-size-sm;
                        padding: 0 0 10px 10px;
                        font-weight: $font-weight-m;
                     }
                  }
               }
            }
         }
      }
   }
}

.new {
   position: absolute;
   background-color: $color-tertiary;
   color: $color-text-green;
   padding: 5px 10px 5px 10px;
   border-radius: $border-radius-s;
   font-size: $font-size-s;
   font-family: $font-secondary;
   text-align: center;
   top: 0;
   right: 0;
   margin: 15px 15px 0 0;
}

.logo-heart {
   position: relative;
   padding-right: 30px;
   font-size: $font-size-l;
   display: flex;
   align-items: center;
   justify-content: center;

   &__premier {
      position: absolute;
      color: $color-lightblack;
   }

   &__second {
      position: absolute;
      opacity: 0;
      @include button-gradient-inverted;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      &:hover {
         opacity: 1;
         transform: scale(1.1);
         transition: transform 300ms ease-in-out;
      }
   }
}

.info-restaurants {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

@media (min-width: 768px) {
   .restaurants {
      width: 100%;
      padding: 30px 30px 30px 30px;

      &__h2 {
         &__box {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 50px;

            &__a {
               display: block;
               width: calc(50% - 50px);

               &__card {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  height: 251px;
                  padding-bottom: 10px;
               }
            }
         }
      }
   }
}

@media (min-width: 992px) {
   .restaurants {
      &__h2 {
         padding-left: 30px;
         &__box {
            padding: 30px 30px 30px 30px;
         }
      }
   }
}

@media (min-width: 1440px) {
   .restaurants {
      &__h2 {
         padding: 0 0 20px 150px;

         &__box {
            padding: 0 150px 0 150px;

            &__a {
               &__card {
                  margin-bottom: 0;
               }
            }
         }
      }
   }
}
