@use '../abstracts/' as *;
@use '../base/' as *;

.background-menu {
   background-color: $color-background;
   border-radius: $border-radius-xxl-top;
   z-index: 1;
   position: relative;
   margin: -40px auto 0 auto;
   padding: 0 10px 0 10px;
}

.img {
   width: 100%;
   height: 275px;
}

.titre-menu {
   display: flex;
   justify-content: space-between;

   &__h1 {
      font-size: $font-size-xl;
      font-weight: $font-weight-ml;
      font-family: $font-primary;
      padding: 20px 0 20px 10px;

      &__heart {
         padding-right: 30px;
         font-size: $font-size-l;
         position: relative;
         display: flex;
         align-items: center;
         justify-content: center;

         &__premier {
            position: absolute;
            color: $color-lightblack;
         }

         &__second {
            position: absolute;
            opacity: 0;
            @include button-gradient-inverted;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            &:hover {
               opacity: 1;
            }
         }
      }
   }
}

@media (min-width: 768px) {
   .background-menu {
      width: 555px;
      padding: 0 80px 0 80px;
   }
}

@media (min-width: 992px) {
   .background-menu {
      width: 755px;
      padding: 0 130px 0 130px;
   }
}

@media (min-width: 1440px) {
   .background-menu {
      width: 1055px;
      padding: 0 170px 0 170px;
   }

   .titre-menu {
      justify-content: center;
      gap: 30px;
   }
}

.menu {
   &__h2 {
      font-size: $font-size-s;
      font-family: $font-secondary;
      font-weight: $font-weight-m;
      padding: 10px 0 0 0;
      margin-top: 20px;

      &__trait {
         width: 40px;
         height: 3px;
         margin: 5px 0 0 0;
         background-color: $color-tertiary;

         &__cards {
            display: flex;
            flex-direction: column;
            align-items: center;

            &__plat {
               background-color: $color-background-white;
               border-radius: $border-radius-l;
               font-family: $font-secondary;
               font-weight: $font-weight-m;
               margin: 20px 0 0 0;
               padding: 10px 0 10px 15px;
               width: 100%;
               height: 70px;
               display: flex;
               align-items: center;
               flex-grow: 1;
               opacity: 0;
               animation: slide $anim-dur ease forwards;
               @for $i from 1 through $max-cards {
                  .card:nth-child(#{$i}) {
                     animation: slide $anim-dur ease forwards;
                     animation-delay: $anim-delay * $i;
                  }
               }

               &:hover {
                  .checkbox {
                     width: 20%;
                     height: 70px;
                  }
               }

               &__prix {
                  display: flex;
                  padding-right: 15px;
                  font-weight: $font-weight-xl;
                  align-items: end;
                  width: 40px;
                  height: 100%;
               }
            }
         }
      }
   }
}

.checkbox {
   background-color: $color-tertiary;
   color: $color-text-white;
   font-size: $font-size-m;
   border-radius: $border-radius-l-right;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: all 400ms ease-in-out;
   width: 0%;
   height: 70px;
   overflow: hidden;
}

.menu-button {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 40px;
   padding-bottom: 40px;

   &__button {
      &:hover {
         opacity: 0.85;
         box-shadow: $box-shadow-xxl;
      }
   }
}
